.container-fluid
	section.categories-filter.row
		.col-md-4.grey-dark.text-center
			.title
				h2.white-text(style="font-size: 46px;") 
					b.yellow-text Cate
					| goría
				br
				div
					img(ng-src="")
				br
				h3.white-text(style="font-size: 36px;") Limpieza
		.col-md-8.yellow-light.text-center
			.col-md-12
				.col-md-6
					.title-list.text-left
						h3.white-text Filtros Activos
						hr.white-text
					.filter-list.text-left
						br
						br
						.items.col-md-6.orange
							span 
								| Categoria: 
							a.pull-right(href="#")
								i.fa.fa-times.white-text
				.col-md-6
					.title-filter.text-left
						h3.white-text Filtro de Resultados
						hr.white-text
					.col-md-12
						br
						br
						.form-group
							select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Filtrar por Categoría
						.form-group
							select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Filtrar por Zonas
.container
	section.pool-list
		br
		br
		.title.text-center
			.content-title
				h3.orange-text POOLES ACTIVOS
			hr.border-orange
		.content.center-block.row
			.col-md-3(ng-repeat="collection in poolHighlights")
				.card-items
					a(data-toggle="modal",data-target="#details")
						.img
							img.img-responsive(ng-src="{{collection.img}}")
						//- ol.raiting
						//- 	li
						//- 		i.fa.fa-star.fa-2x.yellow-text
						.bar-float
							.col-md-6.col-sm-6.col-xs-6.text-left
								i.fa.fa-user.fa-2x.orange-text
							.col-md-6.col-sm-6.col-xs-6.text-right
								.price.orange-text ${{collection.price}}*
						.body.grey
							h4.white-text {{collection.name}}
							span.white-text Categories: {{collection.categories}}
							br
							span.white-text Cantidad demandada: {{collection.stock}}
							br
							span.white-text Cierre del pool: {{collection.finish}}
					.btn-group(role="group",style="width: 100%;")
						button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;",data-toggle="modal",data-target="#ConfirmDeman") OFERTAR
						button.btn.btn-action-orange.col-md-6.col-sm-6.col-xs-6(type="button",style="padding: 16px 12px;border-radius: 0;margin-left: 0;",data-toggle="modal",data-target="#ConfirmDeman") DEMANDAR
			.col-md-12.text-center
				ul.pagination-sm(uib-pagination,total-items="100",ng-model="bigCurrentPage",max-size="10",num-pages="num",boundary-link-numbers="true",rotate="false",next-text=">",previous-text="<")
	span.orange-text * Los valores corresponden a un promedio ponderado basado en las ofertas existencias de precios 
.container-fluid
		section.purchase-sales-search.row
			.col-md-4.grey-dark.text-center
				.title.col-md-7.col-md-offset-2
					h2.white-text(style="font-size: 46px;") 
						b.yellow-text Qui
						| ero
					br
					h3.white-text(style="font-size: 36px;") buscar un
					br
					h1.mustard-text(style="font-size: 48px;") POOL
				img(ng-src="")
			.col-md-8.yellow-light.text-center
				.group-btn.pull-right
						button.btn.btn-lg.white-text.l(type="button") Comprar
						button.btn.btn-lg.white-text(type="button") Vender
				.col-md-12
					form
						.col-md-12.bar.orange
							.col-md-4
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Categoría
							.col-md-4
								select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Producto
							.col-md-4
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Zona
						.col-md-12.bar.orange
							.col-md-4
								select.form-control.orange-text.input-lg
									option(ng-seleted="true",ng-disabled="true") Delivery
							.col-md-8
								select.form-control.orange-text.input-lg
										option(ng-seleted="true",ng-disabled="true") Cantidad de proveedores
						.col-md-12(style="padding: 8px 0;")
							.col-md-4.text-left
								span.white-text Precio Maximo
							.col-md-8
						br
						br
						.col-md-12.text-left
							button.btn.orange.border-orange.btn-lg(type="submit") Buscar 
